<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Verbose - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    </head>

    <body>
		<noscript>
			<div id="noscript_warning">
				Only those wielding javascript may pass here!
			</div>
		</noscript>
		<script type="text/javascript" src="/static/bootstrap_bundle.js"></script>

        {% block content %} {% endblock %}
    </body>
</html>
