{% extends "index_page/base.html" %}

{% block footer %}
    <footer>
        <div class="jumbotron jumbotron-fluid bg-dark text-light mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Verbose</h4>
                        &copy; 2018, mushrom
                    </div>

                    <div class="col-md-4">
                        <h4>Help</h4>
                        <ul>
                            <li>FAQs</li>
                            <li>Documentation</li>
                            <li>Support channel</li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h4>Resources</h4>
                        <ul>
                            <li>GitHub</li>
                            <li>Developer channel</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <!-- spacer -->
                    </div>

                    <div class="col-md-4">
                        <h4>More</h4>
                        <ul>
                            <li>Blog</li>
                            <li>Bot tutorial</li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <!-- spacer -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
