{% block footer %}
    <footer>
        <div class="jumbotron jumbotron-fluid bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <h4>Verbose</h4>
                        more brand info
                    </div>

                    <div class="col-md-5">
                        <h4>Testing this shit</h4>
                        More stuff and stuff
                    </div>

                    <div class="col-md-5">
                        <h4>Contact</h4>
                        Nothing here, go away!
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
