#noscript_warning {
    background: #ff9060;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}

.scroll-overflow {
    overflow-y: scroll;
}

.verbose-content-box {
    max-height: calc(100vh - (4.25rem + 60px));
    height:     calc(100vh - (4.25rem + 60px));
    padding:    0px;
    margin:     0px;
}

.form-signin {
	width: 100%;
	max-width: 400px;
	padding: 50px;
	margin: auto;
}
