#noscript_warning {
    background: #ff9060;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}

.scroll-overflow {
    overflow-y: scroll;
}

.verbose-content-box {
    max-height: calc(100vh - (2.25rem + 60px));
    height:     calc(100vh - (2.25rem + 60px));
}
